geopandas==0.14.4
pandas==2.2.3
requests==2.32.5
beautifulsoup4==4.14.3
shapely==2.0.1
pytest==9.0.2
streamlit==1.56.0
folium==0.20.0
streamlit-folium==0.27.1
branca==0.8.2
matplotlib==3.7.1
blocksnet==0.1.0
osmnx==1.9.4
networkx==3.3
iduedu==0.1.2
pyarrow==12.0.0
numpy==1.23.5
tqdm==4.67.3